:root {
    --anidur:0.5s;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    /* position: relative; */
    height: 60px;
    
}
nav {
    top: 0;
    background-color: rgb(58, 58, 58);
    width: 100%;
    height: 100%;
    position: relative;
}
a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 25px;
    font-family: Sans-serif, Arial;
    font-weight: bold;
}

a:hover {
    color: gold;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 0; 
    align-items: center;
    height: 100%;
}
li {
    list-style: none; 
    transition: transform 0.3s;

}
li:hover {
    list-style: none;
    transform: translateX(10px);
}


main {
    margin-top: 70px;
    color: orange;
    font-family: Sans-serif, Arial;
}

article {
    width: 100vw;
}

body{
    background-color: rgb(241, 241, 241);
}

.cube {
    width: 300px;
    height: 300px;
    background-color: yellow;
    position: relative;
}

/* .inner-cube {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 10px;
} */

.burger {
    display: none;
}

img {
    position: absolute;
    top: 0;
    left: 0;

}

.check {
    display: none;

}



@media (max-width: 420px) {
    .burger {
        display: block;
    }

    ul {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(36, 36, 36);
        flex-direction: column;   
        width: 100vw;
        padding-top: 20px;
        padding-left: 0;
        align-items: center;
        display: flex;
        transform: translateY(-200px);
        transition: transform 0.7s cubic-bezier(.65,.05,.36,1);
        z-index: -1;
        animation: changez 1s;
        height: 100px;

    }

    @keyframes changez {
        0% {z-index: -1;}
        99% {z-index: -1;}
        100% {z-index: 5;}
        
    }

    @keyframes changezback {
        0% {z-index: 5;}
        1% {z-index: -1;}
        100% {z-index: -1;}
        
    }

    .close {

        transition: transform var(--anidur);
        transform: rotate(0deg) scale(0);

    }

    .check:checked ~ .burger .close {

        transform: rotate(180deg) scale(1);
    }

    
    .menu {
        display: block;
        transition: transform var(--anidur);
    }

    .check:checked ~ .burger .menu {
        /* display: none; */
        transform: rotate(180deg) scale(0);
    }



    li {

        margin: 0;
        padding-bottom: 20px;
    }
    .check {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 40px;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
        

    }


    .backdrop {
        visibility: hidden;
        top: 0;
        left: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.539);
        z-index: -3;
        backdrop-filter: blur(10px);
        opacity: 0;
        -webkit-backdrop-filter: blur(10px);
        transition: opacity .7s;
    }

    .check:checked ~ .backdrop {
        visibility: visible;
        opacity: 1;
        
    }

    .check:checked + ul{
        transform: translateY(0px);
        z-index: 50;
        /* display: block; */
        animation: changezback 1s;
        
    }

    .check:checked {
        width: 100vw;
        height: 100vh;
    }



}